{% extends 'admin.html.twig' %}

{% block page_title %}Login | {% endblock %}
{% block header_page_title %}Admin{% endblock %}

{% block content %}
    {% include 'flash_messages.html.twig' %}

    {% if error %}
        <div class="alert alert-warning alert-type-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <login-form last-username="{{ lastUsername }}"
                csrf-token="{{ csrf_token(constant('App\\Model\\User\\Credentials::CSRF_TOKEN_ID')) }}"></login-form>
{% endblock content %}
