<?php

$finder = PhpCsFixer\Finder::create()
    ->in('src')
    ->in('tests')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@PSR2' => true,
        '@DoctrineAnnotation' => true,
        'binary_operator_spaces' => [
            'align_double_arrow' => true,
        ],
    ])
    ->setFinder($finder)
;
