# for a stricter analysis
# see https://phpstan.org/user-guide/rule-levels
includes:
    - phpstan.dist.neon

parameters:
    level: 6
#    ignoreErrors:
#        - '#Static call to instance method Carbon\\CarbonInterval::[a-zA-Z]+\(\)#'
