# for CI and a basic analysis
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - vendor/marc-mabe/php-enum-phpstan/extension.neon

parameters:
    level: 0
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - public/js
    symfony:
        container_xml_path: '%rootDir%/../../../cache/dev/App_KernelDevDebugContainer.xml'
