includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon

parameters:
    level: 0
    paths:
        - src
        - tests
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
#    ignoreErrors:
#        - '#Static call to instance method Carbon\\CarbonInterval::[a-zA-Z]+\(\)#'
