.content-wrap {
    @apply relative bg-white z-10;
    transition: all 0.15s ease;

    // the following are for the admin menu when closed and then open
    .sidebar_nav-visible & {
        transform: translateX(6rem);
    }
    .sidebar_nav-submenu-open & {
        transform: translateX(16rem);
    }
}
@screen md {
    .content-wrap {
        @apply z-auto;
        margin-left: 6rem;
    }
}