// .sidebar_nav-submenu-open added to body
.sidebar_nav-submenu-open .sidebar_nav-wrap {
    // side bar width (6rem) + sub menu width (16rem)
    width: 22rem;
}

.sidebar_nav-link {
    @apply text-inherit opacity-75 fill-current;
    &:hover {
        @apply opacity-100;
    }
}

.sidebar_nav-nav {
    li {
        // so we can control the positioning of the submenu arrow
        @apply relative;
    }

    // the gradient at the top of the menu when scrolling
    &:after {
        @apply absolute pin-l w-24 h-6;
        top: $header-height;
        background: linear-gradient(to bottom, config('colors.black'), transparent);
        content: "";
    }

    // hide the scroll bar (in webkit based browsers)
    &::-webkit-scrollbar {
        @apply bg-transparent;
        width: 0;
    }
}

.sidebar_nav-nav_item {
    @apply block text-xs my-6 text-center;

    svg {
        @apply block w-8 h-8 mt-0 mx-auto mb-1;
    }
}

.sidebar_nav-bottom_wrap {
    // the gradient above the profile
    &:before {
        @apply absolute pin-l w-24 h-10;
        top: -2.5rem;
        background: linear-gradient(to bottom, transparent, config('colors.black'));
        content: "";
    }
}