.sidebar_nav-submenu_arrow {
    // half the height minus half the height of the arrow element, plus 0.2em for visual weight of element
    top: calc(50% - 0.8rem);
    padding: 0 0.1em;
    border: none;
    border-left: 1px solid config('colors.grey-darker');
}

.sidebar_nav-submenu-wrap {
    @apply fixed pin-t z-0 w-64 h-full opacity-0 invisible text-left bg-grey-darkest;
    left: 6rem;
    margin-top: $header-height;
    transition: left 0.15s ease-out;
}
@screen md {
    .sidebar_nav-submenu-wrap {
        @apply mt-0;
    }
}
.sidebar_nav-submenu_arrow-open {
    + .sidebar_nav-submenu-wrap {
        @apply z-10 opacity-100 visible;
    }
}
.sidebar_nav-submenu_header {
    min-height: $header-height;
    padding: 0.7rem 0 0.7rem 1rem;
}
