@config "../../tailwind.config.js";

@import "tailwindcss";

@theme {
    --breakpoint-xs: 25rem;
}

/* Safelist specific classes & pattern-based utilities */
@source inline("");

/* common styles */
@import "./common/common.css";

/* Base styles */
@import "./user/base.css";

@layer components {
    /* Common modules */
    @import "./common/alerts.css";
    @import "./common/content_alignment.css";
    @import "./common/content.css";
    @import "./common/headings.css";
    @import "./common/forms.css";
    @import "./common/radios.css";
    @import "./common/embed.css";
    @import "./common/loading.css";

    /* public only styles */
    @import "./user/buttons.css";
    @import "./user/headings.css";
    @import "./user/header.css";
    @import "./user/footer.css";
    @import "./user/forms.css";

    /* page specific */

    /* @import ; */
}
