.button_pair-wrap {
    @apply flex;

    > * {
        transition: background-color 0.25s ease-in-out, border 0.25s ease-in-out;

        &:nth-child(1) {
            border-radius: 3px 0 0 3px;
            border-right-color: transparent;
        }
        &:nth-child(2) {
            border-radius: 0 3px 3px 0;
        }
    }
}