{% extends 'public.html.twig' %}

{% block page_title_wrap %}{{ 'app.parameter.name'|trans }}{% endblock %}

{% block head %}
    {# @todo-symfony #}
    {% include 'meta.html.twig' with {
        'description' : content.metaDescription,
        'title' : 'app.parameter.name'|trans,
        'url' : path('index'),
    } only %}
{% endblock head %}

{% block content %}
    <h1>Symfony Starter</h1>

    {% include 'flash_messages.html.twig' %}

    <p><a href="{{ path('app_login') }}">Login</a></p>
{% endblock content %}
