{% extends 'public.html.twig' %}

{% block page_title_wrap %}{{ 'app.parameter.name'|trans }}{% endblock %}

{% block head %}
    {% include 'meta.html.twig' with {
        'description' : '',
        'url' : path('index'),
    } only %}
{% endblock head %}

{% block content %}
    {# @todo-symfony #}
    <h1>Symfony Starter</h1>

    {% include 'flash_messages.html.twig' %}

    <svg class="w-5 h-5 mr-3 mb-0" width="20" height="20">
        <use xlink:href="{{ asset('build/images/icons-admin.svg') }}#gear"></use>
    </svg>

    <p><a href="{{ path('app_login') }}">Login</a></p>
{% endblock content %}
