.header-nav_item {
    // using margin instead of left or right so when the menu wraps it's still centered
    // don't use padding as google may complain about being too close
    @apply mx-4;
    &:last-of-type {
        @apply mr-0;
    }
}

// only the items in this list will show hide
// all other items with .header-nav_item will always be visible
// the values are pixels
$header-menu-items: (
    products : 640,
);

@each $name, $mq-width in $header-menu-items {
    .header-nav_item-#{$name} {
        @apply hidden;
        @include mq($mq-width * 1px) {
            @apply block;
        }
    }
}

// this here because it makes sense, but it's more specific than the @each above anyway
.header-mobile-open {
    .header-nav_item {
        @apply block;
    }
}

// this should match the largest menu item mq size
@include mq(640px) {
    .header-nav_item-toggle {
        @apply hidden;
    }
}
