.header-wrap {
    @apply flex justify-between items-center py-2 bg-gray-100 border-b border-gray-300;
    min-height: $header-height + 3.5;
    @screen xs {
        min-height: $header-height;
    }
    @screen md {
        @apply py-0;
    }
}

.header-wrap-small {
    @apply flex justify-between items-center relative z-10 pt-4 text-white bg-black border-b border-gray-400;
    height: $header-height;
    @screen lg {
        @apply hidden;
    }

    a {
        @apply text-white;
    }
}

.header-page_title {
    @apply flex-grow flex-shrink-0 w-40 max-w-1/2 px-4 text-xl text-blue-600 font-headings font-thin truncate;
    @screen sm {
        @apply w-auto max-w-xs;
    }
    @screen md {
        @apply text-3xl max-w-full;
    }
}

// the order of the HTML elements should match how the elements
// appear on mobile (mobile first)
.header-actions {
    @apply flex flex-wrap justify-end items-center px-4 text-right;
    @screen md {
        @apply pb-0;
    }
}

// for actions that should show as buttons
// this styling is similar to buttons
.header-action {
    @apply block ml-4 py-2 px-5 text-xs border border-blue-600 border-solid rounded transition-colors duration-150 ease-in-out;
    &:hover {
        @apply no-underline bg-white;
    }

    @media (min-width: 880px) {
        order: 2;
    }
}

// for the main action(s)
.header-action-main {
    @apply my-4 text-sm text-center text-white bg-blue-500 border-blue-500;
    &:hover {
        @apply bg-blue-600 border-blue-600 text-white;
    }
    &:focus {
        @apply bg-blue-600 rounded;
    }

    @media (min-width: 880px) {
        @apply my-0;
        order: 3;
    }
}

.header-secondary_actions {
    @apply text-xs leading-loose;
    @media (min-width: 560px) {
        @apply mt-0 leading-none;
    }
    @media (min-width: 880px) {
        @apply mt-1;
        order: 1;
    }

    a, button {
        @apply inline-block ml-4;
        &:focus {
            @apply -m-1 ml-3 p-1 bg-gray-400;
        }
    }
}

.header-button_pair {
    @apply ml-4;
    @media (min-width: 880px) {
        order: 4;
    }
}
