.password-slide-enter {
    @apply h-0 opacity-0;
    transform: translateY(-1.5rem);
    transition: all 0.5s ease-in-out;
    > div {
        @apply h-0;
    }
}

.password-slide-enter-to {
    @apply opacity-100;
    transform: translateY(0);
    height: 1.6rem;
    transition: all 0.5s ease-in-out;
    > div {
        @apply h-auto;
    }
}

.password-slide {
    @apply relative z-10;
    margin-bottom: 0.15rem;
}
