.password-slide-enter {
    @apply h-0 opacity-0 transition-all duration-500 ease-in-out;
    transform: translateY(-1.5rem);
    > div {
        @apply h-0;
    }
}

.password-slide-enter-to {
    @apply opacity-100 transition-all duration-500 ease-in-out;
    transform: translateY(0);
    height: 1.6rem;
    > div {
        @apply h-auto;
    }
}

.password-slide {
    @apply relative z-10;
    margin-bottom: 0.15rem;
}
