.record_list-mobile_heading {
    @apply text-gray-500;

    @screen md {
        @apply hidden;
    }
}

.record_list-col-actions {
    @apply text-right;
}
.record_list-action {
    @apply ml-4;
    &:first-child {
        @apply ml-0;
    }
}

.record_list-record_count {
    @apply text-xs mb-4 text-center text-gray-700;
}

.record_list-icon {
    @apply w-5 h-5 align-text-top fill-current;
}


.record_list-wrap {
    @apply list-none pl-0;

    @screen md {
        display: flex;
        flex-wrap: wrap;
        display: grid;
        margin: 0 auto;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        > div {
            @apply py-1 pl-2 border-b border-gray-400;
        }
    }
}

.record_list-item, .record_list-headers {
    @apply mb-4 w-full;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    border-right: solid 1px #ccc;
}

.record_list-col {
    @apply py-1 pr-4;
    @screen md {
        @apply py-0;
    }

}

.grid-cols-3 .record_list-col:nth-of-type(3n) {
    @apply pb-1 mb-1 border-b border-gray-400;
    @screen md {
        @apply mb-0 pb-0;
    }
}
.grid-cols-4 .record_list-col:nth-of-type(4n) {
    @apply pb-1 mb-1 border-b border-gray-400;
    @screen md {
        @apply mb-0 pb-0;
    }
}
.grid-cols-5 .record_list-col:nth-of-type(5n) {
    @apply pb-1 mb-1 border-b border-gray-400;
    @screen md {
        @apply mb-0 pb-0;
    }
}
.grid-cols-6 .record_list-col:nth-of-type(6n) {
    @apply pb-1 mb-1 border-b border-gray-400;
    @screen md {
        @apply mb-0 pb-0;
    }
}
.grid-cols-7 .record_list-col:nth-of-type(7n) {
    @apply pb-1 mb-1 border-b border-gray-400;
    @screen md {
        @apply mb-0 pb-0;
    }
}
.record_list-users {
    grid-template-columns: 18rem repeat(6, minmax(1rem, auto));
    .record_list-col:nth-of-type(7n) {
        @apply pb-1 mb-1 border-b border-gray-400;
        @screen md {
            @apply mb-0 pb-0;
        }
    }
}

.record_list-col-heading {
    @apply font-bold border-none bg-gray-400;
}

.record_list-col {
    @apply px-2 transition-opacity duration-300 ease-in-out;

}
.record_list-col-inactive {
    @apply opacity-50;
}

.record_list-col-break {
    word-break: break-all;
}

.record_list-col-view_heading {
    @apply text-gray-500;
}
