/*stylelint-disable no-descending-specificity*/

.record_list-wrap-wrap {
    @apply overflow-x-auto;
}

.record_list-wrap {
    @apply w-full pl-0 border-t md:border-t-0 list-none;
    th, td {
        @apply px-2 py-1;
        &:first-child {
            @apply md:pl-2;
        }
        &:last-child {
            @apply pr-2;
        }
    }
}

.record_list-item {
    @apply flex flex-col flex-wrap md:table-row md:px-2 border-b border-gray-300 transition-colors duration-150 ease-in-out;

    &:hover {
        @apply bg-blue-100;
        a, .button-link, button, .button {
            @apply ring-offset-blue-100;
        }
    }
}

.record_list-headers {
    @apply items-center font-bold border-none bg-gray-300 text-left;
}

.record_list-mobile_heading {
    @apply md:hidden mr-4 text-gray-500;
}

.record_list-col {
    @apply px-2 py-2 transition-default align-middle;
}

// this is used in both the lists and view
.record_list-icon {
    @apply w-5 h-5 mr-1 md:mx-0 fill-current;
}

// style a record_list-col that has a child record_list-icon
.record_list-col:has(.record_list-icon) {
    @apply flex md:table-cell items-center align-middle;
    > * {
        @apply md:mx-auto;
    }
    // adding block ensures icons vertically center if they are links or buttons
    a, button {
        @apply block;
    }
    // reverse the order of the heading & icon on mobile when an icon is present
    // this will also impact desktop, but it's a table cell at that point so order doesn't do anything
    .record_list-mobile_heading {
        @apply order-2;
    }
    .record_list-icon {
        @apply order-1;
    }
}
// add this class if you either want the content aligned to the top or if the row gets much taller,
// add this .record_list-col-top when the row expands
.record_list-col-top, .record_list-col-top:has(.record_list-icon) {
    @apply md:align-top;
    .record_list-icon {
        @apply my-[2px];
    }
}

.record_list-item-inactive > .record_list-col {
    @apply opacity-50;
}
.record_list-item-inactive:hover > .record_list-col {
    @apply opacity-100;
}

.record_list-empty {
    @apply text-gray-400 italic text-sm;
}

.record_list-col-actions {
    @apply space-x-4 md:text-right;
}

.record_list-record_count {
    @apply text-xs mb-4 text-center text-gray-700;
}
