.w-content, .w-content-narrow, .w-content-copy {
    @apply max-w-11/12 mx-auto break-words;
}
// these max widths are set so that the content doesn't touch the edge
.w-content {
    @apply xl:max-w-6xl;
}
.w-content-narrow {
    @apply lg:max-w-4xl;
}
.w-content-copy {
    @apply sm:max-w-xl;
}
