{% extends 'public.html.twig' %}

{% block page_title %}Contact Us | {% endblock %}

{% block content %}
    <h1>Contact Us</h1>

    {% include 'flash_messages.html.twig' %}

    <contact-form></contact-form>
{% endblock content %}
