{% extends 'public.html.twig' %}

{% block page_title %}{{ page.title }} | {% endblock %}

{% block head %}
    {% include 'meta.html.twig' with {
        'description' : page.content.metaDescription,
        'title' : page.title,
        'url' : page.path,
    } only %}
{% endblock head %}

{% block content %}
    <h1>{{ page.content.pageTitle }}</h1>
    {{ page.content.content|raw }}
{% endblock content %}
