{% block subject %}{{ 'app.parameter.name'|trans }}{% endblock %}

{% block body_text %}
    {% block body_text_inner %}
    {% endblock body_text_inner %}
{% endblock %}

{% block body_html %}
    <div style="width: 100%; text-align: center; margin-bottom: 1em;">
        <div style="width: 100%; text-align: center; margin-bottom: 1em;">
            <a href="{{ url('index') }}"><img src="{{ absolute_url('/images/logo.png') }}" alt="{{ 'app.parameter.name'|trans }}"></a>
        </div>
    </div>

    {% block body_html_inner %}
    {% endblock body_html_inner %}
{% endblock body_html %}